extends layoutmobile

block content

  div#vortragsraum(data-role='page')
    div(data-role='header')
      h1 #{pagetitle}
      a.ui-btn-right(href='#', data-icon='gear') Options
    div(data-theme='a', data-role='content')
      div.ui-grid-a
        div.ui-block-a
          div(data-role='fieldcontain')
            fieldset(data-role='controlgroup')
              label(for='swBLichtMaster')
            select#swBLichtMaster.nvButton(name='swBLichtMaster', data-theme='', data-role='slider')
              option(value='off')
                p Off
              option(value='on')
                p On
        div.ui-block-b
          div(data-role='fieldcontain')
            fieldset(data-role='controlgroup')
              label(for='slBLichtMaster')
                p Value:
              input#slBLichtMaster.nvSlider(name='slBLichtMaster', value='0', min='0', max='255', data-highlight='true', type='range')

      div(data-theme='a', data-id='PersistentFooter', data-role='footer', data-position='fixed')
        div(data-role='navbar')
          ul
            each room, i in rooms
              if i === 0
                li: a.ui-btn-active.ui-state-persist(href='#{room.name}') #{room.name}
              else
                li: a(href='#{room.name}') #{room.name}
